<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="container">
      <h1 class="mt-4 mb-4">User Search</h1>
      <form method="post" action="/search" class="form-inline justify-content-center">
        <div class="input-group">
          <input type="text" id="username" name="username" class="form-control" placeholder="Enter username">
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Search</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>